* {
    font-family: "Poppins", sans-serif !important;
  }
  
  :root {
    --btn-size: 0.8rem;
    --small-size: 0.75rem;
  }
  
  body {
    background-color: #e4e8eb;
  }
  
  .bg {
    background-color: #e4e8eb;
  }
  
  .login-card {
    width: calc(100% - 13rem);
  }
  
  .login-card h2 {
    color: #111727;
  }
  
  .login-card p {
    color: #313131;
    font-size: var(--small-size);
  }
  
  .form-control {
    border: none;
    border-bottom: 2px solid red;
    border-radius: 0;
    font-size: var(--small-size);
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .login-card label {
    font-size: var(--small-size);
  }
  
  form.form input::placeholder {
    font-size: var(--small-size);
  }
  
  form.form button {
    background-color: #111727;
    font-size: var(--btn-size);
  }
  
  .checkbox label {
    font-size: var(--small-size);
  }
  
  .checkbox a {
    font-size: var(--small-size);
    color: #111727;
  }
  
  .signup {
    font-size: var(--small-size);
  }
  
  .signup a {
    color: #111727;
  }
  
  /* Social Icons */
  .social-buttons img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
  }
  
  /* Right Section Styling */
  .position-relative img {
    height: 100%;
    object-fit: cover;
  }
  
  .btn-signin {
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .btn-signin:hover {
    background: white;
    color: black;
  }

  /* btn  */
  .btn-signin-in {
    top: 20px; 
    left: 20px; 
    padding: 10px 20px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .btn-signin-in:hover {
    background: white;
    color: black;
  }
  
